* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  width: 95vw;
  max-width: 600px;
  margin: 10px auto;
}

.selection-section {
  padding: 0.5em;
  display: flex;
  justify-content: left;
  gap: 1em;
  height: 50px;
}

#color-selector {
  border: 0;
  height: auto;
}

#mode-selector {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
}

#get-color-scheme-btn {
  margin-left: auto;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

.color-pallet-container, .color-values {
  display: flex;
  text-align: center;
}

.color-and-hex {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.color-sample {
  height: 400px;
}

.color-value {
  padding: 0.75em 0;
  font-size: 0.63rem;
  font-weight: 600;
}

@media (min-width: 420px) {
  .color-value {
  font-size: 1rem;
  }
}

