* {
  box-sizing: border-box;
}

/* Layout */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1F2937;
  color: #fff;
}

header, main {
  width: 95vw;
  max-width: 600px;
}

header {
  margin: 0 auto;
}

main {
  margin: 10px auto;
  text-align: center;
}

/* Content */

header h1 {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.selection-section {
  padding: 0.5em;
  display: flex;
  justify-content: left;
  gap: 1em;
  height: 50px;
}

#color-selector {
  padding: 0;
  border: 2px solid #fff;
  border-radius: 5px;
  height: auto;
  cursor: pointer;
}

#mode-selector {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
}

#mode-selector option {
  background-color: #1F2937;
  color: #fff;
}

#get-color-scheme-btn {
  margin-left: auto;
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.color-pallet-container {
  display: flex;
}

.color-and-hex {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;
}

.color-sample {
  height: 50vh;
}

.color-value {
  padding: 0.75em 0;
  font-size: 0.63rem;
  font-weight: 600;
}

#click-to-copy {
  margin-top: 0.25em;
  font-weight: 200;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

footer p {
    margin: 0 0 0.7em 0;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.social-links > li {
  list-style: none;
  padding: 0 0.5em;
  display: flex;
}
.social-links > li > a {
  text-decoration: none;
}
.social-links > li > a > img {
  width: 25px;
  transition: transform 0.2s ease;
}
.social-links > li > a > img:hover {
  transform: scale(1.2);
}

/* Media Queries */

@media (min-width: 420px) {
  .color-value {
  font-size: 1rem;
  }
}

